{#
SPDX-FileCopyrightText: 2025 MASH project contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Nextcloud Preview Generator ({{ nextcloud_identifier }})
Wants={{ nextcloud_identifier }}-server.service
After={{ nextcloud_identifier }}-server.service

[Service]
Type=oneshot
# Skip cleanly if the server container isn't running
ExecCondition=/bin/sh -c 'docker ps -q -f name=^/{{ nextcloud_identifier }}-server$ | grep -q .'
ExecStart={{ nextcloud_preview_host_folder }}/preview-generator-cron.sh

[Install]
WantedBy=multi-user.target
