# /inventory

# ignore roles pulled by ansible-galaxy
/roles/galaxy/*
!/roles/galaxy/.gitkeep

# ignores vscode file
.vscode

# ignores macos files
.DS_Store

/requirements.yml
/setup.yml
/group_vars/mash_servers

/run/*
!/run/.gitkeep

/group_vars/*
!/group_vars/.gitkeep

# custom ignores
.ansible
.env
