# Ignore folder that would expose domain

/inventory/hosts
/inventory/host_vars/**
!/inventory/host_vars/domain/
!/inventory/host_vars/domain/**
!/inventory/host_vars/domain-nextcloud-deps/
!/inventory/host_vars/domain-nextcloud-deps/**
/inventory/host_vars/domain/*.bak
/inventory/host_vars/domain/**/*.bak

/requirements.yml
/setup.yml
/group_vars/mash_servers

/run/*
!/run/.gitkeep

/group_vars/*
!/group_vars/.gitkeep

# ignore roles pulled by ansible-galaxy
/roles/galaxy/*
!/roles/galaxy/.gitkeep

# Ignore temp files
.gitignore.swp
*.bak
.venv/
**/.venv/
venv/
**/venv/

# ignores vscode file
.vscode

# ignores macos files
.DS_Store
