{#
SPDX-FileCopyrightText: 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=ohrwurm ({{ ohrwurm_identifier }})
{% for service in ohrwurm_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in ohrwurm_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ ohrwurm_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ ohrwurm_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ ohrwurm_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --network={{ ohrwurm_container_network }} \
      {% if ohrwurm_container_http_host_bind_port %}
      -p {{ ohrwurm_container_http_host_bind_port }}:{{ ohrwurm_container_http_port }} \
      {% endif %}
      --env-file={{ ohrwurm_base_path }}/env \
      --label-file={{ ohrwurm_base_path }}/labels \
      {% for volume in ohrwurm_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in ohrwurm_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ ohrwurm_container_image }}

{% for network in ohrwurm_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ ohrwurm_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ ohrwurm_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ ohrwurm_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ ohrwurm_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ ohrwurm_identifier }}

[Install]
WantedBy=multi-user.target
