{#
SPDX-FileCopyrightText: 2026 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Paperless AI ({{ paperless_ai_identifier }})
{% for service in paperless_ai_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in paperless_ai_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ paperless_ai_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ paperless_ai_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ paperless_ai_identifier }} \
      --log-driver=none \
      --user={{ paperless_ai_uid }}:{{ paperless_ai_gid }} \
      --cap-drop=ALL \
      --network={{ paperless_ai_container_network }} \
      {% if paperless_ai_container_http_host_bind_port %}
      -p {{ paperless_ai_container_http_host_bind_port }}:{{ paperless_ai_container_http_port }} \
      {% endif %}
      --env-file={{ paperless_ai_base_path }}/env \
      --label-file={{ paperless_ai_base_path }}/labels \
      --mount type=bind,src={{ paperless_ai_data_path }},dst=/app/data \
      --mount type=bind,src={{ paperless_ai_nltk_data_path }},dst=/nltk_data \
      --mount type=bind,src={{ paperless_ai_cache_path }},dst=/.cache \
      --mount type=bind,src={{ paperless_ai_pm2_path }},dst=/.pm2 \
      --mount type=bind,src={{ paperless_ai_logs_path }},dst=/app/logs \
      --mount type=bind,src={{ paperless_ai_openai_path }},dst=/app/OPENAPI \
      --mount type=bind,src={{ paperless_ai_public_images_path }},dst=/app/public/images \
      {% for volume in paperless_ai_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in paperless_ai_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ paperless_ai_container_image_self_build_name if paperless_ai_container_image_self_build else paperless_ai_container_image }}

{% for network in paperless_ai_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ paperless_ai_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ paperless_ai_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ paperless_ai_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ paperless_ai_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ paperless_ai_identifier }}

[Install]
WantedBy=multi-user.target
