{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara
SPDX-FileCopyrightText: 2025 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=GOWA ({{ gowa_identifier }})
{% for service in gowa_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in gowa_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ gowa_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ gowa_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ gowa_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --cap-add=SETUID \
      --cap-add=SETGID \
      --network={{ gowa_container_network }} \
      {% if gowa_container_http_host_bind_port %}
      -p {{ gowa_container_http_host_bind_port }}:{{ gowa_container_http_port }} \
      {% endif %}
      --env-file={{ gowa_base_path }}/env \
      --label-file={{ gowa_base_path }}/labels \
      --mount type=bind,src={{ gowa_storages_path }},dst=/app/storages \
      --mount type=bind,src={{ gowa_statics_path }},dst=/app/statics \
      {% for volume in gowa_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in gowa_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ gowa_container_image_self_build_name if gowa_container_image_self_build else gowa_container_image }}

{% for network in gowa_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ gowa_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ gowa_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ gowa_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ gowa_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ gowa_identifier }}

[Install]
WantedBy=multi-user.target
