{#
SPDX-FileCopyrightText: 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if ohrwurm_container_labels_traefik_enabled %}
traefik.enable=true

{% if ohrwurm_container_labels_traefik_docker_network %}
traefik.docker.network={{ ohrwurm_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if ohrwurm_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in ohrwurm_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ ohrwurm_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [ohrwurm_identifier + '-add-request-headers'] %}
{% endif %}

{% if ohrwurm_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in ohrwurm_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ ohrwurm_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [ohrwurm_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ ohrwurm_identifier }}.rule={{ ohrwurm_container_labels_traefik_rule }}
{% if ohrwurm_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ ohrwurm_identifier }}.priority={{ ohrwurm_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ ohrwurm_identifier }}.service={{ ohrwurm_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ ohrwurm_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ ohrwurm_identifier }}.entrypoints={{ ohrwurm_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ ohrwurm_identifier }}.tls={{ ohrwurm_container_labels_traefik_tls | to_json }}
{% if ohrwurm_container_labels_traefik_tls %}
traefik.http.routers.{{ ohrwurm_identifier }}.tls.certResolver={{ ohrwurm_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ ohrwurm_identifier }}.loadbalancer.server.port={{ ohrwurm_container_http_port }}
{% endif %}

{{ ohrwurm_container_labels_additional_labels }}
