{#
SPDX-FileCopyrightText: 2026 2026 Oliver Lorenz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=OpenWebUI ({{ openwebui_identifier }})
{% for service in openwebui_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in openwebui_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ openwebui_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ openwebui_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ openwebui_identifier }} \
      --log-driver=none \
      --user={{ openwebui_uid }}:{{ openwebui_gid }} \
      --cap-drop=ALL \
      --network={{ openwebui_container_network }} \
      {% if openwebui_container_http_host_bind_port %}
      -p {{ openwebui_container_http_host_bind_port }}:{{ openwebui_container_http_port }} \
      {% endif %}
      --env-file={{ openwebui_base_path }}/env \
      --label-file={{ openwebui_base_path }}/labels \
      --mount type=bind,src={{ openwebui_data_path }},dst=/app/backend/data \
      {% for volume in openwebui_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in openwebui_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ openwebui_container_image_self_build_name if openwebui_container_image_self_build else openwebui_container_image }}

{% for network in openwebui_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ openwebui_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ openwebui_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ openwebui_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ openwebui_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ openwebui_identifier }}

[Install]
WantedBy=multi-user.target
